<!-- <p style="color: green"><%= notice %></p> -->

<div class="h-100 text-white bg-dark rounded-3 py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h2>Show Post</h2>
      </div>
      <div>
        <%= link_to "Back to posts", posts_path, class: "btn btn-outline-light" %>
      </div>
    </div>
  </div>
</div>

<% if notice %>
  <div class="container my-3">
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  </div>
<% end %>


<div class="container"> 
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render @post %>
    </tbody>
  </table>
</div>


